
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #1e1e1e; 
  --secondary-color: #4caf50;
  --background-color: #121212; 
  --text-color: #f0f0f0;
}


body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffc107; 
}


.head_bar {
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
}

.head_bar__title {
  font-size: 24px;
  font-weight: bold;
}

main {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
}


.input_section {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.input_section h2 {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.input_section form {
  margin-top: 10px;
}

.input {
  margin-bottom: 10px;
}

.input label {
  display: block;
  font-weight: bold;
  color: var(--text-color);
}

.input input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: var(--text-color);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.input_inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input_inline label {
  margin-right: 10px;
  color: var(--text-color);
}

button {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  margin: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
  transition: border-color 0.9s ease;
  -webkit-transition: property duratio eae-i-o;
  -moz-transition: property duratio eae-i-o;
  -ms-transition: property duratio eae-i-o;
  -o-transition: property duratio eae-i-o;
}

button:hover {
  background-color: #333;
  color: var(--secondary-color);
  border-color: var(--text-color);
}

button span {
  font-weight: bold;
}

.shelf-container {
  display: flex;
  gap: 20px; 
}

.book_shelf {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  flex: 1;
  border: 1px solid #ccc; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book_shelf h2 {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.book_list {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
}

.book_item {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book_item h3 {
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.book_item p {
  margin-bottom: 5px;
  color: var(--text-color);
}

.action button {
  margin-right: 5px;
}

.action .red {
  background-color: red;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid transparent;
  transition: border-color 0.9s ease;
  -webkit-transition: property duratio eae-i-o;
  -moz-transition: property duratio eae-i-o;
  -ms-transition: property duratio eae-i-o;
  -o-transition: property duratio eae-i-o;
}

.action .red:hover {
  background-color: #333;
  color: var(--secondary-color);
  border-color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .shelf-container {
    flex-direction: column; 
  }

  .book_shelf {
    max-width: 100%; 
  }
}
